body {
    background: #333;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 500px;
    text-wrap: pretty;
    display: flex;
    flex-flow: column ;
}

header {
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 6.5rem;
    color: #178582; 
    background-image: linear-gradient(90deg, #178582 , #40A29D , #78BFA8 , #B2DBC3 , #EDF8DE ); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.quote {
    font-family: "Permanent Marker", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 4rem;
    text-align: left;
    line-height: 7rem;
}

.author {
    font-family: "Permanent Marker", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: right;
    color: #bbb;
}

mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    color: #eee;
}